# Ignore VSCode settings
.vscode/

# Ignore build and object directories
/build/
/obj/

# Ignore compiled executable
MarioGame
*.out

# Ignore temporary files created by IDEs or editors
*.swp
*.swo
.idea/
/src/.vs
*.sln
*.vcxproj
*.filters
*.user
/src/Mario
/src/x64

# Ignore macOS system files
.DS_Store


Makefile
/.vs
/Mario/x64
/x64
