# Ignore VSCode settings
.vscode/

# Ignore build and object directories
/build/
/obj/

# Ignore compiled executable
MarioGame
*.out

# Ignore temporary files created by IDEs or editors
*.swp
*.swo
.idea/

# Ignore macOS system files
.DS_Store

# Ignore CMake-related files (if applicable)
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles/

# Ignore user-specific Makefile settings
Makefile.user
